# Default configuration file for SExtractor 2.8.6
#
# A. KOEKEMOER 2013 modified.
#
# Also comment out some parameters with ###, to help ensure forcing them to command-line values


#-------------------------------- Catalog ------------------------------------
 
CATALOG_NAME     wfc3.drz.cat        # name of the output catalog
CATALOG_TYPE     ASCII_HEAD          # NONE,ASCII,ASCII_HEAD, ASCII_SKYCAT,
                                     # ASCII_VOTABLE, FITS_1.0 or FITS_LDAC
PARAMETERS_NAME  se.outputs  # name of the file containing catalog contents
 
#------------------------------- Extraction ----------------------------------
 
DETECT_TYPE      CCD                 # CCD (linear) or PHOTO (with gamma correction)
###DETECT_MINAREA   25               # minimum number of pixels above threshold
###DETECT_THRESH    3.0              # <sigmas> or <threshold>,<ZP> in mag.arcsec-2
###ANALYSIS_THRESH  3.0              # <sigmas> or <threshold>,<ZP> in mag.arcsec-2

FLAG_IMAGE
FLAG_TYPE

FILTER           Y                   # apply filter for detection (Y or N)?
FILTER_NAME      se.conv     # name of the file containing the filter
 
###DEBLEND_NTHRESH  32               # Number of deblending sub-thresholds
###DEBLEND_MINCONT  0.03             # Minimum contrast parameter for deblending (default=0.005)
 
CLEAN            Y                   # Clean spurious detections? (Y or N)?
CLEAN_PARAM      1.0                 # Cleaning efficiency
 
MASK_TYPE        CORRECT             # type of detection MASKing: can be one of
                                     # NONE, BLANK or CORRECT

#------------------------------ Photometry -----------------------------------
PHOT_APERTURES   3,5                 # MAG_APER aperture diameter(s) in pixels
PHOT_AUTOPARAMS  2.5, 3.5            # MAG_AUTO parameters: <Kron_fact>,<min_radius>
PHOT_PETROPARAMS 2.0, 3.5            # MAG_PETRO parameters: <Petrosian_fact>, <min_radius>

SATUR_LEVEL      10000000.0          # level (in ADUs) at which arises saturation. NO SATURATION IN IR IMAGES - SET TO LARGE VALUE
SATUR_KEY        IGNORE              # keyword for saturation level (in ADUs)
 
MAG_ZEROPOINT    25.9463             # magnitude zero-point (for cnts image == zeropt + 2.5*log10(median total exp); PLACE HOLDER - ASSIGNED OTF
MAG_GAMMA        4.0                 # gamma of emulsion (for photographic scans)
GAIN             1.0                 # detector gain in e-/AD (for cnts/sec image == instrument gain * total exposure time). PLACE HOLDER - MEASURED OTF
GAIN_KEY         IGNORE              # keyword for detector gain in e-/ADU
PIXEL_SCALE      0.06                # size of pixel in arcsec (0=use FITS WCS info); PLACE HOLDER - ASSIGNED OTF
 
#------------------------- Star/Galaxy Separation ----------------------------
 
SEEING_FWHM      0.18                # stellar FWHM in arcsec
STARNNW_NAME     se.nnw      # Neural-Network_Weight table filename
 
#------------------------------ Background -----------------------------------
 
BACK_SIZE        128                 # Background mesh: <size> or <width>,<height>
BACK_FILTERSIZE  4                   # Background filter: <size> or <width>,<height>
 
BACKPHOTO_TYPE   GLOBAL              # can be GLOBAL or LOCAL
BACKPHOTO_THICK  64                  # thickness of the background LOCAL annulus

WEIGHT_GAIN      Y                   # Y=assumes variation in rms map is due to gain differences (i.e. varying exposure times for cnts/sec images)
                                     # N=variation in rms map is not dominated by exposure differences.

WEIGHT_IMAGE     wht.fits,wht.fits   # ASSIGNED OTF: For final_wht_type == "IVM": convert to RMS map via: 1/sqrt(ivm)
                                     #               For final_wht_type == "EXP": call straight-up using MAP_WEIGHT

WEIGHT_TYPE      NONE,NONE           # ASSIGNED OTF: For final_wht_type == "IVM": MAP_RMS,MAP_RMS
                                     #               For final_wht_type == "EXP": MAP_WEIGHT,MAP_WEIGHT

#WEIGHT_THRESH    1000000,1000000

#------------------------------ Check Image ----------------------------------
 
CHECKIMAGE_TYPE  NONE                # can be NONE, BACKGROUND, BACKGROUND_RMS,
                                     # MINIBACKGROUND, MINIBACK_RMS, -BACKGROUND,
                                     # FILTERED, OBJECTS, -OBJECTS, SEGMENTATION,
                                     # or APERTURES
CHECKIMAGE_NAME  wfc3.checkim.fits   # Filename for the check-image
 
#--------------------- Memory (change with caution!) -------------------------
 
MEMORY_OBJSTACK  30000               # number of objects in stack
MEMORY_PIXSTACK  1000000             # number of pixels in stack
MEMORY_BUFSIZE   4096                # number of lines in buffer

#----------------------------- Miscellaneous ---------------------------------
 
VERBOSE_TYPE     NORMAL              # can be QUIET, NORMAL or FULL
WRITE_XML        N                   # Write XML file (Y/N)?
XML_NAME         wfc3.sex.xml        # Filename for XML output
NTHREADS         0                   # Number of simultaneous threads for
